{% include 'header.html' %}

{% block content %}

<style type="text/css">
    .form-label{font-size: 20pt ;}
    .sel{width: 400%}
    .write{text-align: center; }
</style>

<form action="../notice_create/" method="post">
    {% csrf_token %}

    <label class="form-label">Title</label>
    <div class = "title">
        <input type="text" class="form-control" name="title" placeholder="제목을 입력하세요">
    </div>

    <div>
        <label class="form-label">Writer</label>
        <input type="text" class="form-control" name="writer" placeholder="작성자를 입력하세요">
    </div>
    <div>
        <label class="form-label">Content</label>
        <textarea class="form-control" name="content" placeholder="내용을 입력하세요"></textarea>
    </div>
    <br>
    <br>
    <div class="write">
        <button type="submit" class="btn btn-dark btn-lg" onclick="location.href='../' ">게시판으로</button>
        <button type="submit" class="btn btn-dark btn-lg">작성</button>
    </div>
</form>
</main>
</div>
</div>
<script>
$(document).ready(function(){
	$('#header_main_title').text("글쓰기");
});
</script>
</body>
</html>
{% endblock %}