{% include 'header.html' %}
<style type="text/css">
    .write{text-align: center; width:400%;}
    .table{font-size: 14pt;}
    .sel{width:400%}
</style>
{% block content %}
             <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">

                        <h1 class="mt-4">게시판</h1>
                        <br>

                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="sel">
    <select >
        <option value="title">제목</option>
        <option value="writer">작성자</option>
    </select>
    <input type = "text" name="keyword" id="keyword">
    <button type="button" class="btn btn-dark btn-sm" id = "searchBtn">검색</button>
</div>

<table class="table table-hover" style="width:400%">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" style="width: 30%">Title</th>
      <th scope="col" style="width: 20%">Writer</th>
      <th scope="col" style="width: 40%">RegDate</th>
      <th scope="col" style="width: 10%">CNT </th>
    </tr>
  </thead>
    {% for notice in boards %}
  <tbody>
  <tr>
        <td>{{notice.id}}</td>
        <td><a href="../notice_read?id={{notice.id}}" style="color:black">{{notice.title}}</a></td>
        <td>{{notice.writer}}</td>
        <td>{{notice.regdate}}</td>
        <td>{{notice.viewcnt}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p/>

<div class="write">
    <button type="button" class="btn btn-dark btn-lg" onclick="location.href='../createForm' ">글쓰기</button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('#searchBtn').click(function(){
            window.alert('왜 안 되냐...')
            $.ajax({
                url: '../notice_search',
                type: 'post',
                data: {'csrfmiddlewaretoken':'{{csrf_token}}',
                       type: $('#type').val(),
                       keyword: $('#keyword').val() },
                dataType: 'json',
                success: function(obj) {
                    alert(obj)
                    $.each(obj, function(idx, data){
                        alert(data.id)
                    })
                }
            })
        });
    })
</script>
                            </div>
                        </div>
                    </div>
                </main>
             </div>
        </div>

</body>
</html>
{% endblock %}

<!--
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <select>
        <option value="title">제목</option>
        <option value="writer">작성자</option>
    </select>
    <input type = "text" name="keyword" id="keyword">
    <button id = "searchBtn">검색</button>
</div>
<table>
    <tr>
        <th>NO</th>
        <th>TITLE</th>
        <th>WRITER</th>
        <th>REGDATE</th>
        <th>CNT</th>
    </tr>
    {% for notice in boards %}
    <tr>
        <td>{{notice.id}}</td>
        <td><a href="../notice_read?id={{notice.id}}">{{notice.title}}</a></td>
        <td>{{notice.writer}}</td>
        <td>{{notice.regdate}}</td>
        <td>{{notice.viewcnt}}</td>
    </tr>
    {% endfor %}
</table>
<p/>
<div align="center">
    <a href="../createForm">글쓰기</a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('#searchBtn').click(function(){
            window.alert('searchBtn click')
            $.ajax({
                url: '../notice_search',
                type: 'post',
                data: {'csrfmiddlewaretoken':'{{csrf_token}}',
                       type: $('#type').val(),
                       keyword: $('#keyword').val() },
                dataType: 'json',
                success: function(obj) {
                    alert(obj)
                    $.each(obj, function(idx, data){
                        alert(data.id)
                    })
                }
            })
        });
    })
</script>
</body>
</html>
-->

