{% include 'header.html' %}


{% block content %}
<!--여기서부터 내용-->
<div id="contents">
    <style>
		#contents{
			width: 100%;
 			text-align: center;
		}
		#first {
			display:inline-block;
			width:60%;
			height:450px;
			float: left;
			position: relative;
			left: 0%;
			overflow-y: auto;
		}
		#second {
			display:inline-block;
			width: 40%;
			float: left;
			position: relative;
			left: 0px;
		}
		#three {

			display:inline-block;
			width:90%;
			height:300px;
			overflow-y: auto;

		}
		table {

		  border-collapse: collapse;
		  overflow-y: auto;
		  align:center;
		}
		th{height:30px;}
		td{height:20px;}

		th{background-color: #f2f2f2;}
		tr:nth-child(even) {background-color: #f2f2f2;}
		input{height:80%;}
    </style>
	<style type="text/css">
		.table > :not(caption) > * > *, .dataTable-table > :not(caption) > * > * {
		  padding: 0rem 0rem;
		  background-color: var(--bs-table-bg);
		  border-bottom-width: 1px;
		  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
	</style>
	<div style="height: 10px;">
		&nbsp;
	</div>

	<div id="first" style="height: 300px;" >
		<div style="text-align-last: left;">
			<h4>현재가</h4>
		</div>
		<table class="table table-bordered" style="width:100%;">
			<caption  style = "display:none;">이건테이블이다.</caption>
			<colgroup>
				<col width="25%" />
				<col width="15%" />
				<col width="15%" />
				<col width="15%" />
				<col width="15%" />
				<col width="15%" />
			</colgroup>
			<thead>
				<tr>
					<th>종목</th><th>현재가</th><th>전일가</th><th>전일대비</th><th>거래량</th><th>변동율</th>
				</tr>
			</thead>

			<tbody id="tbody" stype="height:300px; width:100%;">
				{% for sTrade in sTrades %}
				<tr id="now_sTrade_{{forloop.counter0}}" copyId="now_sTrade_{{forloop.counter0}}" trCode="{{sTrade.code}}" onclick="detail_order_click(this);" style='text-align: center;'>
					<td name="name" id="td_sTrade_name_{{forloop.counter0}}">{{sTrade.name}}</td>
					<td name="price" id="td_sTrade_price_{{forloop.counter0}}">{{sTrade.price}}</td>
					<td name="d_1price" id="td_sTrade_d_1price_{{forloop.counter0}}">{{sTrade.d_1price}}</td>
					<td name="change" id="td_sTrade_change_{{forloop.counter0}}">{{sTrade.change}}</td>
					<td name="sum_tquan" id="td_sTrade_sum_tquan_{{forloop.counter0}}">{{sTrade.sum_tquan}}</td>
					<td name="ch_rate" id="td_sTrade_ch_rate_{{forloop.counter0}}">{{sTrade.ch_rate}}</td>
				</tr>
				{% endfor %}
			</tbody>

		</table>

	</div>


	<div id="second" style="width: 350px;margin-top: 30px;margin-left: 50px;">
		<div style="text-align-last: left;">
			<h4>매수/매도</h4>
		</div>
		<table class="table table-bordered" style='text-align: center;position: absolute;left: 0px;' align="center">
			<colgroup>
				<col width="50%" />
				<col width="50%" />
			</colgroup>
			<thead>
				<tr>
					<th id="sTrade_Form_th1" style="">매수</th><th id="sTrade_Form_th2">매도</th>
				</tr>
			</thead>
			<tbody id="tbody2">
				<tr>
					<td>종목</td>
					<td id="sTrade_Form_dname"></td>
				</tr>
				<tr>
					<td>현재가</td>
					<td id="sTrade_Form_dprice"></td>
				</tr>
				<tr>
					<td id="sTrade_Form_wprice_txt" >매수가</td>
					<td><input type="text" id="sTrade_Form_wprice" style="text-align: center;" /></td>
				</tr>
				<tr>
					<td>수량</td>
					<td>
						<input type="text" id="sTrade_Form_dquan" style="text-align: center;" />
					</td>
				</tr>
				<tr>
					<td colspan='2'><button id="bsBtn" type="button" onclick="">매수</button>
						<input type="text" id="sTrade_Form_dcode" value="" style="visibility:hidden;width: 0px;">
						<input type="text" id="sTrade_Form_gubun" value="" style="visibility:hidden;width: 0px;">
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="three" style="margin-top: 50px;">
		<div style="text-align-last: left;">
			<h4>주식잔고</h4>
		</div>
		<table class="table table-bordered" stype="height:300px; width:100%;" align="center">
			<colgroup>
				<col width="17%" />
				<col width="10%" />
				<col width="10%" />
				<col width="10%" />
				<col width="10%" />
				<col width="10%" />
				<col width="8%" />
				<col width="12%" />
				<col width="12%" />
			</colgroup>
			<thead>
				<tr>
					<th style="width: 10px">종목</th><th>현재가</th><th>전일대비</th><th>수익</th><th>수익률</th><th>매입가</th><th>수량</th><th>총매입금액</th><th>총평가금액</th>
				</tr>
			</thead>
			<tbody id="tbody3">
				{% for myTrade in myTrades %}
				<tr id="now_myTrade_{{forloop.counter0}}" copyId="now_myTrade_{{forloop.counter0}}" trCode="{{myTrade.code}}"
					dcode="{{myTrade.code}}" dname="{{myTrade.name}}" dprice="{{myTrade.price}}" dquan="{{myTrade.quan}}"
					vgubun='S'  onclick="trade_preOrder(this)" style='text-align: center;'>
					<td width="100" name="name" id="td_myTrade_name_{{forloop.counter0}}">{{myTrade.name}}</td>
<!--					<td width="100" name="d_1price" id="td_myTrade_d_1price_{{forloop.counter0}}">{{myTrade.d_1price}}</td>-->
					<td width="100" name="price" id="td_myTrade_price_{{forloop.counter0}}">{{myTrade.price}}</td>
					<td width="100" name="change" id="td_myTrade_change_{{forloop.counter0}}">{{myTrade.change}}</td>
					<td width="100" name="income" id="td_myTrade_income_{{forloop.counter0}}">{{myTrade.income}}</td>
					<td width="100" name="income_rate" id="td_myTrade_income_rate_{{forloop.counter0}}">{{myTrade.income_rate}}</td>
					<td width="100" name="myprice" id="td_myTrade_myprice_{{forloop.counter0}}">{{myTrade.myprice}}</td>
					<td width="100" name="quan" id="td_myTrade_quan_{{forloop.counter0}}">{{myTrade.quan}}</td>
					<td width="100" name="t_price" id="td_myTrade_t_price_{{forloop.counter0}}">{{myTrade.t_price}}</td>
					<td width="100" name="esti_price" id="td_myTrade_esti_price_{{forloop.counter0}}">{{myTrade.esti_price}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<script>
function detail_order_click(e){
	caller_Id = $(e).attr('copyId');
	ch_copyId = $('#detail_order > tbody > tr').attr('copyId');
	if(caller_Id ==  ch_copyId){
		$('#now_detail').remove();
	}else{
		detail_order(e);
	}
}
function detail_order(e){
	//console.log( $(e).attr('trCode'));
	caller_Id = $(e).attr('copyId');
	//console.log( "caller_Id : " + caller_Id);
	$.ajax({
		url : '../detail_order/',
		type : 'POST',
		data : {'csrfmiddlewaretoken' : '{{csrf_token}}',
				code : $(e).attr('trCode')},

		dataType : 'json',
		success : function(obj){
			//console.log( "#^^#");
			$('#now_detail').remove();
			var count = false
			var txt = "";
			txt += "<tr id='now_detail'>"
			txt += "<td colspan='5' style='padding-left: 100px;'>"
			txt += "<table id='detail_order' class='table table-bordered' width='450px' align='center'>"
			txt += "<thead>"
			txt += "<tr>"
			txt += "<th></th><th>호가</th><th>수량</th>"
			txt += "</tr>"
			txt += "</thead>"
			txt += "<tbody>"
			$.each(obj, function(idx, data){
				count = true;
				txt += "<tr copyId="+caller_Id+" trgubun="+data.gubun+" trCode="+data.code+ " dcode="+data.code+ " dname="+data.name+" dprice="+data.price+" dquan="+data.quan+" vgubun='B' onclick=trade_preOrder(this)>"
				txt += "<td width='100px' style='text-align: center;'>"+data.name+"</td>"
				txt += "<td width='100px' style='text-align: center;'>"+getComma(data.price)+"</td>"
				txt += "<td width='100px' style='text-align: center;'>"+getComma(data.quan)+"</td>"
				txt += "</tr>"
			});
			txt += "</tbody>"
			txt += "</table>"
			txt += "</td>"
			txt += "</tr>"
			if(count == true){
				$('#'+caller_Id).after(txt);
				$('#detail_order > tbody > tr[trgubun="S"]').css("background-color","#A8C8F9");
				$('#detail_order > tbody > tr[trgubun="B"]').css("background-color","#FC9EBD");
			}

		},
		error:function(request, error){
			alert("fail");
		}
	});
}
function trade_preOrder(obj){
	var gubun = $(obj).attr('vgubun');
	var dcode = $(obj).attr('dcode');
	var dname = $(obj).attr('dname');
	var dprice = getComma($(obj).attr('dprice'));
	var dquan = getComma($(obj).attr('dquan'));
	//console.log("dquan : " + dquan);
	var price = $("#tbody > tr[trCode = "+dcode+"] > td[name='price']").text();
	$('#sTrade_Form_dname').text(dname);
	$('#sTrade_Form_dprice').text(price);
	$('#sTrade_Form_wprice').val(dprice);
	$('#sTrade_Form_dquan').val(dquan);
	$('#sTrade_Form_dcode').val(dcode);
	$('#sTrade_Form_gubun').val(gubun);
	if(gubun == "B"){
		sTradeFormChange1();
	}else{
		sTradeFormChange2();
	}


}
function updatesTrade(){
	$.ajax({
		url: '../sTrade_list/',
		type : 'POST',
		data : {'csrfmiddlewaretoken' : '{{csrf_token}}',
				typeST : 'update'},
		dataType : 'json',
		success: function(obj){
			//console.log(obj);
			//console.log(obj['sTrades']);
			$.each(obj['sTrades'], function(idx, data){
				var before_price = clearFormatNum($('#td_sTrade_price_'+idx).text());
				if(before_price < clearFormatNum(data.price)){       // 변경된 데이터의 색 반짝거림
					var hexColor = rgb2hex($('#now_sTrade_'+idx).css("background-color"));
					if(hexColor == "#000000") hexColor = "#FFFFFF";
					$('#now_sTrade_'+idx).css("background-color","#FC9EBD");
					setTimeout(function() {
						$('#now_sTrade_'+idx).css("background-color",hexColor);
					}, 500);
				}
				if(before_price > clearFormatNum(data.price)){       // 변경된 데이터의 색 반짝거림
					var hexColor = rgb2hex($('#now_sTrade_'+idx).css("background-color"));
					if(hexColor == "#000000") hexColor = "#FFFFFF";
					$('#now_sTrade_'+idx).css("background-color","#A8C8F9");
					setTimeout(function() {
						$('#now_sTrade_'+idx).css("background-color",hexColor);
					}, 500);

				}
				if(clearFormatNum(data.price) > clearFormatNum(data.d_1price)){
					$('#td_sTrade_change_'+idx).css("color", "#db0d36"); // 전일대비 높으면 빨간색
				}else if(clearFormatNum(data.price) < clearFormatNum(data.d_1price)){
					$('#td_sTrade_change_'+idx).css("color", "#0100FF"); // 전일대비 높으면 파란색
				}else{
					$('#td_sTrade_change_'+idx).css("color", "#000000"); // 전일대비 0이면 검정색
				}
				$('#td_sTrade_name_'+idx).text(data.name);
				$('#td_sTrade_price_'+idx).text(getComma(data.price));
				$('#td_sTrade_d_1price_'+idx).text(getComma(data.d_1price));
				$('#td_sTrade_change_'+idx).text(getComma(data.change));
				$('#td_sTrade_sum_tquan_'+idx).text(getComma(data.sum_tquan));
				$('#td_sTrade_ch_rate_'+idx).text(data.ch_rate);


			});
			$.each(obj['myTrades'], function(idx, data){
			    var tr_code = $('#now_myTrade_'+idx).attr('dcode');
			    var tr_name = $('#now_myTrade_'+idx).attr('dname');

			    if(data.code != tr_code){
					refreshMemList();
			    }
			    var before_price = clearFormatNum($('#td_myTrade_price_'+idx).text());
				if(before_price < clearFormatNum(data.price)){       // 변경된 데이터의 색 반짝거림
					var hexColor = rgb2hex($('#now_myTrade_'+idx).css("background-color"));
					if(hexColor == "#000000") hexColor = "#FFFFFF";
					$('#now_myTrade_'+idx).css("background-color","#FC9EBD");
					setTimeout(function() {
						$('#now_myTrade_'+idx).css("background-color",hexColor);
					}, 500);
				}
				if(before_price > clearFormatNum(data.price)){       // 변경된 데이터의 색 반짝거림
					var hexColor = rgb2hex($('#now_myTrade_'+idx).css("background-color"));
					if(hexColor == "#000000") hexColor = "#FFFFFF";
					$('#now_myTrade_'+idx).css("background-color","#A8C8F9");
					setTimeout(function() {
						$('#now_myTrade_'+idx).css("background-color",hexColor);
					}, 500);
				}
				if(clearFormatNum(data.price) > clearFormatNum(data.myprice)){
					$('#td_myTrade_income_rate_'+idx).css("color", "#db0d36"); // 수익률이 높으면 빨간색
					$('#td_myTrade_income_'+idx).css("color", "#db0d36");
				}else if(clearFormatNum(data.price) < clearFormatNum(data.myprice)){
					$('#td_myTrade_income_rate_'+idx).css("color", "#0100FF"); // 수익률이 높으면 파란색
					$('#td_myTrade_income_'+idx).css("color", "#0100FF");
				}else{
					$('#td_myTrade_income_rate_'+idx).css("color", "#000000"); // 수익률이 0이면 검정색
					$('#td_myTrade_income_'+idx).css("color", "#000000");
				}


				$('#td_myTrade_name_'+idx).text(data.name);
<!--				$('#td_myTrade_d_1price_'+idx).text(getComma(data.d_1price));-->
				$('#td_myTrade_price_'+idx).text(getComma(data.price));
				$('#td_myTrade_change_'+idx).text(getComma(data.change));
				$('#td_myTrade_income_'+idx).text(getComma(data.income));
				$('#td_myTrade_income_rate_'+idx).text(data.income_rate);
				$('#td_myTrade_myprice_'+idx).text(getComma(data.myprice));
				$('#td_myTrade_quan_'+idx).text(getComma(data.quan));
				$('#td_myTrade_t_price_'+idx).text(getComma(data.t_price));
				$('#td_myTrade_esti_price_'+idx).text(getComma(data.esti_price));

			});

		},
		error:function(request, error){
			alert("fail");
		}
	});
	timerID = setTimeout("updatesTrade()", 1000); // 5초 단위로 갱신 처리
}
function getComma(n) {
	n = clearFormatNum(n);
	var reg = /(^[+-]?\d+)(\d{3})/;
	n += '';
	while (reg.test(n))
		n = n.replace(reg, '$1' + ',' + '$2');
	return n;
}
function clearFormatNum(num) {
	if (num=="") return num;
	return String(num).replace(/,/gi, "")
}
function rgb2hex(rgb) {
   rgb = rgb.match(/^rgba?[\s+]?\([\s+]?(\d+)[\s+]?,[\s+]?(\d+)[\s+]?,[\s+]?(\d+)[\s+]?/i);
 	return (rgb && rgb.length === 4) ? "#" +
  ("0" + parseInt(rgb[1],10).toString(16)).slice(-2) +
  ("0" + parseInt(rgb[2],10).toString(16)).slice(-2) +
  ("0" + parseInt(rgb[3],10).toString(16)).slice(-2) : '';
}
function ColorToHex(color) {
  var hexadecimal = color.toString(16);
  return hexadecimal.length == 1 ? "0" + hexadecimal : hexadecimal;
}

function ConvertRGBtoHex(red, green, blue) {
  return "#" + ColorToHex(red) + ColorToHex(green) + ColorToHex(blue);
}
function updatesDetail() {
	if ( $( "#now_detail" ).length ) {
		detail_order($('#detail_order > tbody > tr'));
	}
}
function formCheckNowPrice(){
	if ($("#sTrade_Form_dprice").text() != "" ) {

		var dcode = $("#sTrade_Form_dcode").val();
		var price = $("#tbody > tr[trCode = "+dcode+"] > td[name='price']").text();
		//price = $("#tbody > tr[trcode = '1'] > td[name='price']").text();
		$("#sTrade_Form_dprice").text(price);
	}
}
function sTrade_trade(){
	//console.log("sTrade_trade!!!!");
	var name = $('#sTrade_Form_dname').text();
	var price = clearFormatNum($('#sTrade_Form_wprice').val());
	var quan = clearFormatNum($('#sTrade_Form_dquan').val());
	var code = clearFormatNum($('#sTrade_Form_dcode').val());
	var gubun = $('#sTrade_Form_gubun').val();

	$.ajax({
		url: '../sTrade_trade/',
		type : 'POST',
		data : {'csrfmiddlewaretoken' : '{{csrf_token}}',
				name : name,
				price : price,
				quan : quan,
				code : code,
				gubun : gubun },
		dataType : 'json',
		success: function(obj){
			if(gubun == "B") alert("매수주문이 완료되었습니다.");
			if(gubun == "S") alert("매도주문이 완료되었습니다.");
			refreshMemList();
		},
		error:function(data){
           	alert(data.responseJSON.error); // the message
		}
	});
}
function refreshMemList(){
	location.reload();
}
function sTradeFormChange1(){
	$('#sTrade_Form_th1').css("background-color","#FC9EBD");
	$('#sTrade_Form_th2').css("background-color","#f2f2f2");
	$('#bsBtn').css("background-color","#FC9EBD");
	$('#bsBtn').text("매수");
	$('#sTrade_Form_wprice_txt').text("매수가");
	$('#sTrade_Form_gubun').val('B');
}
function sTradeFormChange2(){
	$('#sTrade_Form_th1').css("background-color","#f2f2f2");
	$('#sTrade_Form_th2').css("background-color","#A8C8F9");
	$('#bsBtn').css("background-color","#A8C8F9");
	$('#bsBtn').text("매도");
	$('#sTrade_Form_wprice_txt').text("매도가");
	$('#sTrade_Form_gubun').val('S');
}


</script>
<script>
$(document).ready(function(){


	updatesTrade();
	setInterval("updatesDetail()", 2000);
	setInterval("formCheckNowPrice()", 1000);
	$('#bsBtn').click(function(){
		/*window.alert('searchBtn click');*/
		sTrade_trade();
	});
	$('#sTrade_Form_th1').click(function(){
		sTradeFormChange1();
	});
	$('#sTrade_Form_th2').click(function(){
		sTradeFormChange2();
	});

	$('#header_main_title').text("주식매매");

	$('#sTrade_Form_wprice').on("change keyup", function() {
		$('#sTrade_Form_wprice').val(getComma($('#sTrade_Form_wprice').val()));
	});
<!--	$('#sTrade_Form_dquan').on("propertychange change keyup paste input", function() {-->
	$('#sTrade_Form_dquan').on("change keyup", function() {
		$('#sTrade_Form_dquan').val(getComma($('#sTrade_Form_dquan').val()));
	});
});

</script>
{% endblock %}

{% include 'footer.html'%}