<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sTrade_list</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<style>
		#contents{
			width: 100%;
 			text-align: center;
		}
		#first {
			display:inline-block;
			width:650px;
			height:620px;
			float: left;
			position: relative;
			left: 15%;
			overflow-y: auto;
		}
		#second {
		display:inline-block;
		width: 300px;
		float: left;
		position: relative;
  		left: 15%;
		}
		#three {

			display:inline-block;
			width:80%;
			height:620px;
			overflow-y: auto;

		}
		table {

		  border-collapse: collapse;
		  overflow-y: auto;
		  align:center;
		}
		th{height:40px;}
		td{height:40px;}

		th{background-color: #f2f2f2;}
		tr:nth-child(even) {background-color: #f2f2f2;}
		input{height:60%;}

</style>

</head>
<body>
	<div id="contents">
	<div id="first" style="margin-top: 30px;height: 500px;" >
		<div style="width:630px;">
		<table class="" style="width:100%;">
			<caption  style = "display:none;">이건테이블이다.</caption>
			<colgroup>
				<col width="30%" />
				<col width="20%" />
				<col width="20%" />
				<col width="20%" />
				<col width="20%" />
			</colgroup>
			<thead>
				<tr>
					<th>종목</th><th>현재가</th><th>전일가</th><th>전일대비</th><th>변동율</th>
				</tr>
			</thead>

			<tbody id="tbody" stype="height:300px; width:100%;">
				{% for sTrade in sTrades %}
				<tr id="now_sTrade_{{forloop.counter0}}" copyId="now_sTrade_{{forloop.counter0}}" trCode="{{sTrade.code}}" onclick="detail_order_click(this);" style='text-align: center;'>
					<td name="name" id="td_sTrade_name_{{forloop.counter0}}">{{sTrade.name}}</td>
					<td name="price" id="td_sTrade_price_{{forloop.counter0}}">{{sTrade.price}}</td>
					<td name="d_1price" id="td_sTrade_d_1price_{{forloop.counter0}}">{{sTrade.d_1price}}</td>
					<td name="change" id="td_sTrade_change_{{forloop.counter0}}">{{sTrade.change}}</td>
					<td name="ch_rate" id="td_sTrade_ch_rate_{{forloop.counter0}}">{{sTrade.ch_rate}}</td>
				</tr>
				{% endfor %}
			</tbody>

		</table>
		</div>
	</div>
	<div id="second" style="margin-top: 30px;">
		<table class="table table-bordered" style='text-align: center;position: absolute;left: 50px;' align="center">
			<thead>
				<tr>
					<th id="sTrade_Form_th1" style="">매수</th><th id="sTrade_Form_th2">매도</th>
				</tr>
			</thead>
			<tbody id="tbody2">
				<tr>
					<td width="100" >종목</td>
					<td width="100" id="sTrade_Form_dname"></td>
				</tr>
				<tr>
					<td width="100" >현재가</td>
					<td width="100" id="sTrade_Form_dprice"></td>
				</tr>
				<tr>
					<td width="100" id="sTrade_Form_wprice_txt" >매수가</td>
					<td width="100"><input type="text" id="sTrade_Form_wprice" style="text-align: center;" /></td>
				</tr>
				<tr>
					<td width="100" >수량</td>
					<td width="100">
						<input type="text" id="sTrade_Form_dquan" style="text-align: center;" />
					</td>
				</tr>
				<tr>
					<td width="100" colspan='2'><button id="bsBtn" type="button" onclick="">매수</button>
						<input type="text" id="sTrade_Form_dcode" value="" style="visibility:hidden;width: 0px;">
						<input type="text" id="sTrade_Form_gubun" value="" style="visibility:hidden;width: 0px;">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="three" style="margin-top: 50px;">
		<table class="table table-bordered" stype="height:300px; width:100%;" align="center">
			<thead>
				<tr>
					<th style="width: 10px">종목</th><th>전일가</th><th>현재가</th><th>전일대비</th><th>수익률</th><th>매입가</th><th>수량</th>
				</tr>
			</thead>
			<tbody id="tbody3">
				{% for myTrade in myTrades %}
				<tr id="now_myTrade_{{forloop.counter0}}" copyId="now_myTrade_{{forloop.counter0}}" trCode="{{myTrade.code}}"
					dcode="{{myTrade.code}}" dname="{{myTrade.name}}" dprice="{{myTrade.price}}" dquan="{{myTrade.quan}}"
					vgubun='S'  onclick="trade_preOrder(this)" style='text-align: center;'>
					<td width="100" name="name" id="td_myTrade_name_{{forloop.counter0}}">{{myTrade.name}}</td>
					<td width="100" name="d_1price" id="td_myTrade_d_1price_{{forloop.counter0}}">{{myTrade.d_1price}}</td>
					<td width="100" name="price" id="td_myTrade_price_{{forloop.counter0}}">{{myTrade.price}}</td>
					<td width="100" name="change" id="td_myTrade_change_{{forloop.counter0}}">{{myTrade.change}}</td>
					<td width="100" name="income_rate" id="td_myTrade_ch_rate_{{forloop.counter0}}">{{myTrade.income_rate}}</td>
					<td width="100" name="myprice" id="td_myTrade_myprice_{{forloop.counter0}}">{{myTrade.myprice}}</td>
					<td width="100" name="quan" id="td_myTrade_quan_{{forloop.counter0}}">{{myTrade.quan}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	</div>

<script>
function detail_order_click(e){
	caller_Id = $(e).attr('copyId');
	ch_copyId = $('#detail_order > tbody > tr').attr('copyId');
	if(caller_Id ==  ch_copyId){
		$('#now_detail').remove();
	}else{
		detail_order(e);
	}
}
function detail_order(e){
	console.log( $(e).attr('trCode'));
	caller_Id = $(e).attr('copyId');
	console.log( "caller_Id : " + caller_Id);
	$.ajax({
		url : '../detail_order/',
		type : 'POST',
		data : {'csrfmiddlewaretoken' : '{{csrf_token}}',
				code : $(e).attr('trCode')},

		dataType : 'json',
		success : function(obj){
			console.log( "#^^#");
			$('#now_detail').remove();
			var count = false
			var txt = "";
			txt += "<tr id='now_detail'>"
			txt += "<td colspan='5'>"
			txt += "<table id='detail_order' class='table table-bordered' width='350px' align='center'>"
			txt += "<thead>"
			txt += "<tr>"
			txt += "<th></th><th>호가</th><th>수량</th>"
			txt += "</tr>"
			txt += "</thead>"
			txt += "<tbody>"
			$.each(obj, function(idx, data){
				count = true;
				txt += "<tr copyId="+caller_Id+" trgubun="+data.gubun+" trCode="+data.code+ " dcode="+data.code+ " dname="+data.name+" dprice="+data.price+" dquan="+data.quan+" vgubun='B' onclick=trade_preOrder(this)>"
				txt += "<td width='100px' style='text-align: center;'>"+data.name+"</td>"
				txt += "<td width='100px' style='text-align: center;'>"+getComma(data.price)+"</td>"
				txt += "<td width='100px' style='text-align: center;'>"+getComma(data.quan)+"</td>"
				txt += "</tr>"
			});
			txt += "</tbody>"
			txt += "</table>"
			txt += "</td>"
			txt += "</tr>"
			if(count == true){
				$('#'+caller_Id).after(txt);
				$('#detail_order > tbody > tr[trgubun="S"]').css("background-color","#A8C8F9");
				$('#detail_order > tbody > tr[trgubun="B"]').css("background-color","#FC9EBD");
			}

		},
		error:function(request, error){
			alert("fail");
			console.log("code:"+request.status+"message:"+request.responseText+"error:"+error);
		}
	});
}
function trade_preOrder(obj){
	var gubun = $(obj).attr('vgubun');
	var dcode = $(obj).attr('dcode');
	var dname = $(obj).attr('dname');
	var dprice = getComma($(obj).attr('dprice'));
	var dquan = $(obj).attr('dquan');
	console.log("dquan : " + dquan);
	var price = $("#tbody > tr[trCode = "+dcode+"] > td[name='price']").text();
	$('#sTrade_Form_dname').text(dname);
	$('#sTrade_Form_dprice').text(price);
	$('#sTrade_Form_wprice').val(dprice);
	$('#sTrade_Form_dquan').val(dquan);
	$('#sTrade_Form_dcode').val(dcode);
	$('#sTrade_Form_gubun').val(gubun);
	if(gubun == "B"){
		sTradeFormChange1();
	}else{
		sTradeFormChange2();
	}


}
function updatesTrade(){
	$.ajax({
		url: '../sTrade_list/',
		type : 'POST',
		data : {'csrfmiddlewaretoken' : '{{csrf_token}}',
				typeST : 'update'},
		dataType : 'json',
		success: function(obj){
			console.log(obj);
			console.log(obj['sTrades']);
			$.each(obj['sTrades'], function(idx, data){
				$('#td_sTrade_name_'+idx).text(data.name);
				$('#td_sTrade_price_'+idx).text(getComma(data.price));
				$('#td_sTrade_d_1price_'+idx).text(getComma(data.d_1price));
				$('#td_sTrade_change_'+idx).text(getComma(data.change));
				$('#td_sTrade_ch_rate_'+idx).text(data.ch_rate + '%');
			});
			$.each(obj['myTrades'], function(idx, data){
				$('#td_myTrade_name_'+idx).text(data.name);
				$('#td_myTrade_d_1price_'+idx).text(getComma(data.d_1price));
				$('#td_myTrade_price_'+idx).text(getComma(data.price));
				$('#td_myTrade_change_'+idx).text(getComma(data.change));
				$('#td_myTrade_ch_rate_'+idx).text(data.income_rate + '%');
				$('#td_myTrade_myprice_'+idx).text(getComma(data.myprice));
				$('#td_myTrade_quan_'+idx).text(getComma(data.quan));
			});

		},
		error:function(request, error){
			alert("fail");
			console.log("code:"+request.status+"message:"+request.responseText+"error:"+error);
		}
	});
	timerID = setTimeout("updatesTrade()", 5000); // 5초 단위로 갱신 처리
}
function getComma(n) {
	n = clearFormatNum(n);
	var reg = /(^[+-]?\d+)(\d{3})/;
	n += '';
	while (reg.test(n))
		n = n.replace(reg, '$1' + ',' + '$2');
	return n;
}
function clearFormatNum(num) {
	if (num=="") return num;
	return String(num).replace(/,/gi, "")
}
function updatesDetail() {
	if ( $( "#now_detail" ).length ) {
		detail_order($('#detail_order > tbody > tr'));
	}
}
function formCheckNowPrice(){
	if ($("#sTrade_Form_dprice").text() != "" ) {

		var dcode = $("#sTrade_Form_dcode").val();
		var price = $("#tbody > tr[trCode = "+dcode+"] > td[name='price']").text();
		//price = $("#tbody > tr[trcode = '1'] > td[name='price']").text();
		$("#sTrade_Form_dprice").text(price);
	}
}
function sTrade_trade(){
	console.log("sTrade_trade!!!!");
	var name = $('#sTrade_Form_dname').text();
	var price = clearFormatNum($('#sTrade_Form_wprice').val());
	var quan = clearFormatNum($('#sTrade_Form_dquan').val());
	var code = clearFormatNum($('#sTrade_Form_dcode').val());
	var gubun = $('#sTrade_Form_gubun').val();

	$.ajax({
		url: '../sTrade_trade/',
		type : 'POST',
		data : {'csrfmiddlewaretoken' : '{{csrf_token}}',
				name : name,
				price : price,
				quan : quan,
				code : code,
				gubun : gubun },
		dataType : 'json',
		success: function(obj){
			refreshMemList()
		},
		error:function(request, error){
			alert("fail sTrade_trade");
			console.log("code:"+request.status+"message:"+request.responseText+"error:"+error);
		}
	});
}
function refreshMemList(){
	location.reload();
}
function sTradeFormChange1(){
	$('#sTrade_Form_th1').css("background-color","#FC9EBD");
	$('#sTrade_Form_th2').css("background-color","#f2f2f2");
	$('#bsBtn').css("background-color","#FC9EBD");
	$('#bsBtn').text("매수");
	$('#sTrade_Form_wprice_txt').text("매수가");
	$('#sTrade_Form_gubun').val('B');
}
function sTradeFormChange2(){
	$('#sTrade_Form_th1').css("background-color","#f2f2f2");
	$('#sTrade_Form_th2').css("background-color","#A8C8F9");
	$('#bsBtn').css("background-color","#A8C8F9");
	$('#bsBtn').text("매도");
	$('#sTrade_Form_wprice_txt').text("매도가");
	$('#sTrade_Form_gubun').val('S');
}


</script>
<script>
$(document).ready(function(){
	updatesTrade();
	setInterval("updatesDetail()", 3000);
	setInterval("formCheckNowPrice()", 1000);
	$('#bsBtn').click(function(){
		/*window.alert('searchBtn click');*/
		sTrade_trade();
	});
	$('#sTrade_Form_th1').click(function(){
		sTradeFormChange1();
	});
	$('#sTrade_Form_th2').click(function(){
		sTradeFormChange2();
	});

	$('#sTrade_Form_wprice').on("propertychange change keyup paste input", function() {
		$('#sTrade_Form_wprice').val(getComma($('#sTrade_Form_wprice').val()));
	});
	$('#sTrade_Form_dquan').on("propertychange change keyup paste input", function() {
		$('#sTrade_Form_dquan').val(getComma($('#sTrade_Form_dquan').val()));
	});






})

</script>
</body>
</html>