<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<font color="red">{{ session_user_name }}</font> 님 로그인 성공!!!
<a href="../logout">로그아웃</a>
<hr/>

<a href="../list?category=sport">전체 사용자 보기</a>
<br/>
<a href="../../">index</a>
<a href="../../notice/index">게시판</a>
<a href="../../bbs/index">메인창</a>
</body>
<footer>
        <div class="container">
        <div class="ticker">
            <div class="title"><h5>오늘의 뉴스</h5></div>
            <div class="news"><marquee><a href="#">#####</a></marquee></div>
        </div>
    </div>
</footer>
</html>